body {
  margin: 0;
  font-family: Arial;
  font-size: 18px;
  color: rgb(243, 233, 255);
  background-color: rgba(13, 50, 115, 0.7);
  padding: 2em;
}
h1 {
  text-align: center;
}
p {
  margin-bottom: 0.7em;
  margin-top: 2em;
}
#description {
  margin-top: unset;
  text-align: center;
  font-style: italic;
}
form {
  margin: 2em auto;
  max-width: 600px;
  min-width: 300px;
  width: 70%;
  background-color: rgb(102, 45, 171, 0.5);
  padding: 2em;
}
input, select {
  margin: 0.7em 0 0.5em 0;
  vertical-align: middle;
}
#name, #email, #number, #dropdown, select {
  display: block;
  margin-bottom: 2em;
  width: 95%;
  padding: 0.5em;
}
label {
  display: block;
}
textarea {
  margin: 0.7em 0 2em 0;
  width: 100%;
}
label:last-of-type {
  margin-top: 2em;
}
input[type="submit"] {
  border: 3px solid rgb(81, 41, 130, 0.7);
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 2em;
  background-color: rgb(98, 182, 124);
  color: #ffffff;
}